body{
    background: #eeedec;
    letter-spacing: 0.2em;
    /* font-size: 0.2em; */
}

.container{
    max-width: 600px;
    max-height: 400px;

}

.icon {
    
    border-radius: 50%;
    position: relative;
    top: -50px;
    width: 100px;
    margin-bottom: -50px;
    
}
